{% extends 'base.html' %}

{% block content %}

<body>
    {% if current_user() %}  
    <h1>Welcome {{ current_user()['first_name'] }} here is your photo from {{image['date']}}</h1>

    
    <h3>{{ image['title'] }}</h3>
    <p>{{ image['explanation'] }}</p>
    <p>{{ image['date'] }}</p>
 
    <img src="{{ image['url'] }}" alt="Astrology Photo of the Day">
    <form action="/sessions/delete" method="POST">
        <button>Log out</button>
    </form>

    <a href="/home/image">Return to APOD</a>
    {% endif %}
</body>


{% endblock %}