{% extends 'base.html' %}

{% block content %}

<body>
    {% if current_user() %}  
    <h1>Welcome {{ current_user()['first_name'] }} here are your photos</h1>
        {% for image in user_images: %}
        <div class="images">
            <img src="{{ image['url'] }}" alt="">
            <p class="title"> {{ image['title'] }}</p>
            <p class="explanation"> {{ image['explanation'] }}</p>
            <p class="date"> {{ image['date'] }}</p>
                <section class="controls">
                        <a href="/home/{{ image['id'] }}/edit">
                                Edit
                        </a>
                        <form action="/home/{{ image['id'] }}/delete" method="POST">
                                <button>Delete</button>
                        </form>
                </section>    
        </div>        
        {% endfor %}
        <a href="/home/image">Back to APOD</a>
        <form action="/home/add_image">
            <button>Add your own image!</button>
        </form>
        <form action="/sessions/delete" method="POST">
            <button>Log out</button>
        </form>
       
    {% endif %}
</body>


{% endblock %}