<link rel="stylesheet" href="/static/css/style_login.css">
{% extends 'base.html' %}

{% block content %}


        {% if current_user() %}  
        <h1>Welcome {{ current_user()['first_name'] }} here is your Astrology Photo Of The Day</h1>


        <form action="/sessions/delete" method="POST">
            <button>Log out</button>  
        {% else %}
        <h1>Astrology Photo Of The Day</h1>
        <h2>For access to a new photo EACH and every day, Sign up today!</h2>
        <div class="user_controllers">
            <a href="/users/new_user">Sign Up!</a>
            <a href="/sessions/login">Log in!</a>
        </div>
        {% endif %}



{% endblock %}