{% extends 'base.html' %}

{% block content %}

<body>
    {% if current_user() %}  
    <h1>Welcome {{ current_user()['first_name'] }} here are your favourite photos</h1>
        {% for fav in fav_image: %}
        <div class="images">
            <img src="{{ fav['url'] }}" alt="">
            <p class="title"> {{ fav['title'] }}</p>
            <p class="explanation"> {{ fav['explanation'] }}</p>
            <p class="date"> {{ fav['date'] }}</p>
                <section class="controls">
                        <form action="/home/{{ fav['date'] }}/delete_img" method="POST">
                                <button>Delete</button>
                        </form>
                </section>    
        </div>

        {% endfor %}
        <div class="user_controllers">
            <a href="/home/image">Back to APOD</a>
            <form action="/sessions/delete" method="POST">
                <button>Log out</button>
            </form>
        </div>
       
    {% endif %}
</body>


{% endblock %}