* {
    box-sizing: border-box;

  }
  
body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to bottom, #000000, #2b5876);
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(196, 195, 195);
    width: 100vw;
    height: 100vh;
    height: fit-content;
}
  
h1 {
    font-size: 2rem;
    margin-top: 0;
    text-align: center;
}
h2 {
    margin-top: 0;
    text-align: center;
}
p.title {
    font-size: 1-+-----.2rem;
    font-weight: bold;
}
p.explanation {
    font-size: 0.9rem;
    font-weight: normal;
    max-width: 900px;
}
p.date {
    font-size: 0.9rem;
    font-weight: normal;
}
.images {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
    margin-top:  1.5rem;
    margin-bottom: 1.5rem;
}
.images img {
    max-width: 100%;
}
.images .controls {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 1.5rem;
  }
  
img {
    max-width: 100%;
    height: auto;
}
  
/* 
    float: center;
    
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.APOD_image {
    float: center;
    margin-right: 20px;
    max-width: 50%;
} */
.APOD {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
    margin-top:  1.5rem;
    margin-bottom: 1.5rem;
}
.APOD_explanation {
    max-width: 900px;
}
a,
button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 0.5rem;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;

}

  
button:hover {
    text-decoration: underline;
}
a:hover {
    text-decoration: underline;
}
.user_controllers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
}
.APOD_controllers {

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
}
.date {
    display: flex;
    flex-direction: column;
    align-items: center;
}
input[type='date'] {
    background-color: #4CAF50;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}