* {
    /* to ensure padding and border box are accounted for when calculating width and height  */
    box-sizing: border-box;

}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(https://images.unsplash.com/photo-1475274047050-1d0c0975c63e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1744&q=80);
    background-repeat: no-repeat;
    background-size: 100%;

}

h1 {
    text-align: center;
}

p.title {
    font-size: 1.2rem;
    font-weight: bold;
}
p.explanation {
    font-size: 0.9rem;
    font-weight: normal;
}
p.date {
    font-size: 0.9rem;
    font-weight: normal;
}
.images {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
    margin-top:  1.5rem;
    margin-bottom: 1.5rem;
}
.images img {
    max-width: 100%;
}
.images .controls {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 1.5rem;
  }
a,
button {

    border: 1px solid black;
    padding: 0.25rem 0.5rem;
    background-color: rgb(91, 91, 91);
    color: white;
    font-size: 0.8rem;
    text-decoration: none;
    cursor: pointer;
}
.APOD {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
    margin-top:  1.5rem;
    margin-bottom: 1.5rem;
}
.APOD_controllers {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}